/* *************universal*************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *************elements*************** */

body {
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: bolder;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 1.3rem;
  font-weight: normal;
}

h1,
h2,
h3 {
  padding: 10px 0;
}

p {
  line-height: 2;
  font-size: 0.95rem;
  color: #40514e;
}

hr {
  width: 5%;
  margin: 0 auto;
  border-style: dotted;
  border-width: 0;
  border-top-width: 6px;
  border-color: #dbf0f0;
}

/* *************classes*************** */

.top-container {
  position: relative;
  padding: 150px;
  padding-bottom: 0;
  background-color: #eaf6f6;
}

.skills,
.profile,
.contact-me {
  margin: 54px 0;
}

.top-cloud {
  position: absolute;
  top: 65px;
  right: 250px;
}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  top: 345px;
  left: 250px;
}

.skill-row {
  width: 50%;
  padding: 54px 0;
  margin: 0 auto;
  text-align: left;
}

.skill-row > img {
  width: 25%;
}

.code-img {
  float: left;
  margin-right: 30px;
}

.chess-img {
  float: right;
  margin-left: 25px;
}

.mountain {
  margin: 0 auto;
}

.contact-me > p {
  margin: 20px auto;
  width: 30%;
}

.contact-me > h2 {
  margin-bottom: 40px;
}

.contact-me > h3 {
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  color: white;
  background: linear-gradient(#11cdd4, #11999e);
  text-decoration: none;
  width: 12%;
  padding: 12px;
  border: 1px #11999e;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: linear-gradient(#30e3cb, #2bc4ad);
}

.bottom-container {
  background-color: #66bfbf;
}

.bottom-container > p {
  padding-bottom: 30px;
  color: #eaf6f6;
  font-weight: bold;
  font-size: small;
}

.footer-link {
  display: inline-block;
  color: #11999e;
  padding: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.footer-link:hover {
  color: #eaf6f6;
}
/* *************ids*************** */

#sub-title {
  font-size: 1.5rem;
}

#profile-pic {
  width: 200px;
  margin-bottom: 25px;
}

#my-intro {
  width: 40%;
  margin: 0 auto;
  padding-top: 20px;
}
